/* .custom-multi-select .dropdown-container {
    border: 2px solid #00b26b;
    border-radius: 10px;
    background: #f9f9f9;
    min-height: 45px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.322);
}

.custom-multi-select .dropdown-heading {
    padding: 6px 10px;
    color: #000;
}

.custom-multi-select .dropdown-content {
    border: 2px solid #00b26b !important;
    border-top: none !important;
    border-radius: 0 0 10px 10px !important;
    background: #f9f9f9;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.322);
}

.custom-multi-select .select-item {
    padding: 0;
    background: transparent !important;
} */
