.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  position: fixed; */
  height: 85%;
  position: unset;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 3px solid #e6d5d5;
  border-top: 3px solid #00b26b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.322); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
