.infoCardSection {
  padding: 16px 16px;
  border: 2px solid #00b26b;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.322);
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoTitle {
  font-size: 13px;
  color: #000;
}

.infoValue {
  font-size: 16px;
  font-weight: 600;
  color: #00b26b;
}

.failedStatus {
  color: red;
}

@media (max-width: 1280px) {
  .infoCardSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    justify-content: start;
  }

  .infoSection {
    min-width: 220px;
  }
}